
<link rel="stylesheet" type="text/css" href="css/Styles.css">

<div class="generatedImage">
    <% if (imageUrl) { %>
         <img src="<%= imageUrl %>" alt="Generated Image" class="generated-image">>
     <% } else { %>
         <p>No image available.</p>
     <% } %>
</div>