

<link rel="stylesheet" type="text/css" href="css/Styles.css">
<div class="box">
<form action="/" method="POST">

     <h1> Write Your Text! See The Magic </h1>
     <input type="text" name="prompt" id="" placeholder="Enter Your prompt here">
     <button type="submit">Submit</button>

    
</form>



<footer>
     <p>&copy; Made by Fardeen Khan </p>
   </footer>

</div>

